<!DOCTYPE html>
<html>
<head>
  <link href="css/vuetify.min.css" rel="stylesheet">
   <link href="css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
  <v-app>
    <v-layout row wrap container>
      <v-flex xs12 md12 lg12>
        <v-card v-for="(item, index) in items" :key="index" style="margin-top: 10px">
        <h2>&nbsp;{{ item.title }}</h2>
        <v-divider></v-divider>
          <v-card v-if="index === 0">
            <v-card-title>
              <v-spacer xs12 sm12 lg12 style="width:100%;">
                <h4>{{ item.subheader1 }}</h4>
              </v-spacer>
              <v-layout row wrap>
                <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in family_data" :key="index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-text-field v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'" required></v-text-field>
                  <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null" class="pt-0" single-line v-show="item.type === 'select'" :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                  </v-select>
                </v-flex>
              </v-layout>
              <v-spacer xs12 sm12 lg12 style="width:100%;">
                  <h4>{{ item.subheader2 }}</h4>
              </v-spacer>
              <v-layout row wrap>
                <v-flex xs12 sm4 md3 lg3 v-for="(item, index) in head_data" :key="item.index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-flex v-if="item.type === 'text'">
                  <v-text-field v-model="item.model" single-line class="pt-0"></v-text-field>
                  </v-flex>
                  <v-flex v-else-if="item.type === 'masks'">
                  <v-text-field placeholder="YYYY-MM-DD" :mask="mask" v-model="item.model"></v-text-field>
                  </v-flex>
                  <v-flex v-else>
                  <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null" class="pt-0" single-line v-show="item.type === 'select'" :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                  </v-select>
                  </v-flex>
                </v-flex>
              </v-layout>
              <v-spacer xs12 sm12 lg12 style="width:100%;">
                <h4> {{ item.subheader3 }}
                  <v-btn flat fab small @click="spouse_info()">
                    <v-icon class="pl-3 pr-3">{{ item.icon }}</v-icon>
                  </v-btn>
                </h4>
              </v-spacer>
              <v-layout row wrap>
                <v-flex xs12 sm6 md4 lg2 v-for="(item, index) in spouse_data" :key="item.index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-flex v-if="item.type === 'text'">
                  <v-text-field v-model="item.model" single-line class="pt-0"></v-text-field>
                  </v-flex>
                  <v-flex v-else-if="item.type === 'masks'">
                  <v-text-field placeholder="YYYY-MM-DD" :mask="mask" v-model="item.model"></v-text-field>
                  </v-flex>
                  <v-flex v-else>
                  <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null" class="pt-0" single-line v-show="item.type === 'select'" :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                  </v-select>
                </v-flex>
                </v-flex>
              </v-layout>
              <v-spacer xs12 sm12 lg12 style="width:100%;">
                <h4> {{ item.subheader4 }}
                  <v-btn flat fab small @click="dependents_info()">
                    <v-icon class="pl-3 pr-3">{{ item.icon }}</v-icon>
                  </v-btn>
                </h4>
              </v-spacer>
              <v-layout row wrap>
                <v-flex xs12 sm6 md3 lg3 v-for="(item, index) in dependents_data" :key="item.index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-flex v-if="item.type === 'text'">
                  <v-text-field v-model="item.model" single-line class="pt-0"></v-text-field>
                  </v-flex>
                  <v-flex v-else-if="item.type === 'masks'">
                  <v-text-field placeholder="YYYY-MM-DD" :mask="mask" v-model="item.model"></v-text-field>
                  </v-flex>
                  <v-flex v-else>
                  <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null" class="pt-0" single-line v-show="item.type === 'select'" :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                  </v-select>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
        <v-spacer></v-spacer>
        <v-card v-if="index === 1">
          <v-card-title>
            <v-layout row wrap>
              <v-flex xs12 sm6 md2 lg3 v-for="(item, index) in education_data" :key="item.index" class="pl-2 pr-2">
                <small>{{ item.key }}</small>
                <v-text-field v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'"></v-text-field>
                <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null"
                  class="pt-0" single-line v-show="item.type === 'select'"
                  :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                </v-select>
              </v-flex>
            </v-layout>
            <v-spacer xs12 sm12 lg12 style="width:100%;">
              <h4> {{ item.subheader1 }}
                <v-btn flat fab small @click="profession_info()">
                  <v-icon class="pl-3 pr-3">{{ item.icon }}</v-icon>
                </v-btn>
              </h4>
            </v-spacer>
            <v-layout row wrap>
              <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in profession_data" :key="item.index" class="pl-4 pr-4">
                <small>{{ item.key }}</small>
                <v-text-field  v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'"></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
        <v-spacer></v-spacer>
        <v-card v-if="index === 2">
          <v-card-title>
              <v-layout row wrap>
                <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in health_data" :key="item.index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-flex v-if="item.type === 'text'">
                  <v-text-field v-model="item.model" single-line class="pt-0"></v-text-field>
                  </v-flex>
                  <v-flex v-else-if="item.type === 'select'">
                  <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null"
                    class="pt-0" single-line
                    :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                  </v-select>
                  </v-flex>
                  <v-flex v-else>
                  <v-select chips dense tags hide-selected class="text-margin-negative" v-model="item.model"
                    append-icon="" v-show="item.type === 'selected'"
                    :items="item.choices" style="margin-top: -8px; min-width: 20vh;">
                  </v-select>
                </v-flex>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
        <v-spacer></v-spacer>
        <v-card v-if="index === 3">
          <v-card-title>
            <v-layout row wrap>
              <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in house_data" :key="item.index" class="pl-2 pr-2">
                <small>{{ item.key }}</small>
                <v-flex v-if="item.type === 'text'">
                  <v-text-field v-model="item.model" single-line class="pt-0"></v-text-field>
                </v-flex>
                <v-flex v-else-if="item.type === 'select'">
                <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null"
                  class="pt-0" single-line
                  :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                </v-select>
                </v-flex>
                <v-flex v-else>
                <v-select chips dense tags hide-selected class="text-margin-negative" v-model="item.model"
                  append-icon=""
                  :items="item.choices" style="margin-top: -8px; min-width: 20vh;">
                </v-select>
              </v-flex>
            </v-flex>
          </v-layout>
         </v-card-title>
        </v-card>
        <v-spacer></v-spacer>
        <v-card v-if="index === 4">
          <v-card-title>
          <v-spacer xs12 sm12 lg12 style="width:100%;"><h4>{{ item.subheader1 }}</h4></v-spacer>
            <v-layout row wrap>
              <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in family_income_data" :key="item.index" class="pl-2 pr-2">
                <small>{{ item.key }}</small>
                <v-text-field v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'"></v-text-field>
                <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null"
                  class="pt-0" single-line v-show="item.type === 'select'"
                  :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                </v-select>
              </v-flex>
            </v-layout>
            <v-spacer xs12 sm12 lg12 style="width:100%;"><h4>{{ item.subheader2 }}</h4></v-spacer>
            <v-layout row wrap>
              <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in family_expenditures_data" :key="item.index" class="pl-2 pr-2">
                <small>{{ item.key }}</small>
                <v-text-field v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'"></v-text-field>
              </v-flex>
            </v-layout>
            <v-spacer xs12 sm6 md3 lg3 style="width:100%;"><h4>{{ item.subheader3 }}</h4></v-spacer>
              <v-layout v-for="(item, index) in family_assets_data" :key="item.index">
                <v-flex xs12 sm12 lg12 row class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-flex v-if="item.type === 'text'">
                  <v-text-field v-model="item.model" single-line class="pt-0"></v-text-field>
                  </v-flex>
                  <v-flex v-else>
                  <v-select chips dense tags hide-selected class="text-margin-negative" v-model="item.model" 
                    append-icon="" v-show="item.type === 'selected'"
                    :items="item.choices" style="margin-top: -8px; min-width: 20vh;">
                  </v-select>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
          <v-spacer></v-spacer>
          <v-card v-if="index === 5">
            <v-card-title>
              <v-layout row wrap>
                <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in communication_access_data" :key="item.index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-text-field v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'"></v-text-field>
                  <v-select chips dense tags hide-selected class="text-margin-negative" v-model="item.model"
                    append-icon="" v-show="item.type === 'selected'"
                    :items="item.choices" style="margin-top: -8px; min-width: 20vh;">
                  </v-select>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card> 
          <v-spacer></v-spacer>
          <v-card v-if="index === 6">
            <v-card-title>
              <v-layout row wrap>
                <v-flex xs12 sm6 md4 lg3 v-for="(item, index) in psycho_social_data" :key="item.index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-flex v-if="item.type ==='text'">
                  <v-text-field v-model="item.model" single-line class="pt-0"></v-text-field>
                  </v-flex>
                  <v-flex v-else-if="item.type === 'select'">
                  <v-select v-model="item.model" dense class="text-margin-negative" :append-icon="null"
                    class="pt-0" single-line
                    :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
                  </v-select>
                  </v-flex>
                  <v-flex v-else>
                  <v-select chips dense tags hide-selected class="text-margin-negative" v-model="item.model"
                  append-icon="" v-show="item.type === 'selected'"
                  :items="item.choices" style="margin-top: -8px; min-width: 20vh;">
                  </v-select>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
          <v-spacer></v-spacer>
          <v-card v-if="index === 7">
            <v-card-title>
              <v-layout row wrap>
                <v-flex xs12 sm6 md3 lg2 v-for="(item, index) in farm_data" :key="item.index" class="pl-2 pr-2">
                  <small>{{ item.key }}</small>
                  <v-text-field v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'">
                  </v-text-field>
                  <v-select dense class="text-margin-negative" :append-icon="null"
                    class="pt-0" single-line v-show="item.type === 'select'"
                    :items="item.choices" style="margin-top: -17px; min-width: 20vh;">
 
                  </v-select>
                  <v-select chips dense tags hide-selected class="text-margin-negative" 
                  append-icon="" v-show="item.type === 'selected'"
                  :items="item.choices" style="margin-top: -8px; min-width: 20vh;">
                </v-select>
                </v-flex>
              </v-layout>
              <v-spacer xs12 sm12 lg12 style="width:100%;">
              <h4>{{ item.subheader1 }}
                <v-btn flat fab small @click="farm_labors_info()">
                  <v-icon class="pl-3 pr-3">{{ item.icon }}</v-icon>
                </v-btn>
              </h4>
              </v-spacer>
              <v-layout row wrap>
                <v-flex xs12 sm6 md6 lg6 v-for="(item, index) in farm_labor_data" :key="item.index" class="pl-4 pr-4">
                  <small>{{ item.key }}</small>
                  <v-text-field v-model="item.model" single-line class="pt-0" v-show="item.type === 'text'"></v-text-field>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
        </v-card>
        </v-card>
        <a color="blue darken-2" dark fab class="float" @click="request()">
        <i class="fa fa-save my-float"></i>
        </a>
      </v-flex>
    </v-layout>
  </v-app>
</div>
<script src="js/vue.js"></script>
<script src="js/vuetify.js"></script>
<script src="js/all.js"></script>
<script src="axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                e1: 0,
                items: [{
                        title: 'BASIC INFORMATION',
                        subheader1: 'Family',
                        subheader2: 'head',
                        subheader3: 'Spouse',
                        icon: 'fas fa-plus',
                        subheader4: 'Dependents'
                    },
                    {
                        title: 'EDUCATION',
                        subheader1: 'Profession and Skills',
                        icon: 'fas fa-plus'
                    },
                    {
                        title: 'HEALTH AND NUTRITION'
                    },
                    {
                        title: 'HOUSE AND LOT'
                    },
                    {
                        title: 'INCOME AND EXPENDITURES',
                        subheader1: 'Family Income',
                        subheader2: 'Family Expenditures',
                        subheader3: 'Family Asset'
                    },
                    {
                        title: 'COMMUNICATION ACCESS'
                    },
                    {
                        title: 'PSYCHO SOCIAL CARE'
                    },
                    {
                        title: 'FAMILY FARM',
                        subheader1: 'Farm Labors',
                        icon: 'fas fa-plus'
                    }
                ],
                gender: ['Male', 'Female'],
                civil_status: ['Single', 'Married', 'Separated', 'Widowed', 'Annuled', 'Others'],
                religion: ['Roman Catholic', 'UCCP', 'INC', 'Baptist', 'Islam', 'Others'],
                educational_attainment: ['Elementary', 'High School', 'College', 'Post-Graduate'],
                blood_type: ['A', 'AB', 'B', 'O', 'Undefined'],
                item: null,
                yes_or_no: ['Yes', 'No'],
                sickness_type: ['Colds and Cough', 'Dengue', 'Diabetes', 'Diarrhea', 'Fever', 'Heart Diseases', 'hypertension', 'Kidney Trouble', 'Pneumonia', 'Tuberculosis'],
                philhealth_type: ['MLGU Provided', 'PLHU Provided', 'Individually Paying', 'Employer', '4Ps', 'None'],
                house_type: ['Owned', 'Rented', 'Mortgated', 'Squatter', 'Informal Settler'],
                home_setting: ['Rural Community', 'Village/Sitio', 'Semi-Urban', 'Urban'],
                frequency: ['None', 'Once', 'Twice', 'Four or More Times'],
                bldg_type: ['Single House', 'Duplex', 'Apartment/Condo/TownHouse', 'Commercial/Industrial/Agricultural Building or House', 'Other Housing(cave,boat,under a bridge, etc.)'],
                drainage_type: ['None', 'open Canal Type', 'Blind Type'],
                toilet_type: ['Water-sealed with Septic tank', 'Antipolo', 'None', 'Water-sealed without Septic tank', 'Public', 'Pit Privy'],
                garbage_disposal_type: ['Recycling', 'Composed Pit', 'Throwing Anywhere', 'Burned', 'Segregated with LGU Collection System', 'Non-Segregated with LGU Collection System'],
                roof_walling_material_type: ['Light Materials(cogon,nipa,anahaw,bamboo)', 'Mixed but predominantly light materials', 'Strong materials(galvanized iron,aluminum,tile,concrete,brick stone,wood,asbestos)', 'Salvaged/Makeshift materials', 'Salvaged but predominantly strong materials'],
                vulnerability_risks_type: ['along river', 'along landslide prone areas', 'along the road right of ways', 'along fault line', 'along the coast', 'near communication towers', 'near volcano', 'near transmission towers', 'near gasoline statios', 'near oil depot', 'near irrigation dam', 'near factories'],
                water_source_type: ['Own use, Tubod, Pipe Well', 'Water Association (Level III)', 'Shared Faucet (Level II),Community Water System', 'Water Association (Level II)', 'Shallow Well/Artesion Well', 'Dug Well', 'Spring', 'Privately Owned Electric Pump', 'Collected Rainfall'],
                product_transpo_type: ['Draft Animals', 'Single Motor', 'Others', 'Truck', 'Forward', 'tractor', 'Jeepney'],
                bldg_electricity_type: ['Others', 'Energized', 'Solar', 'Not Energized'],
                gross_monthly_income_type: ['Below 5,585', '5,585-9,999', '10,000-14,999', '15,000-19,999', '20,000-24,999', '25,000-29,999', '30,000', '40,000 and above'],
                personal_properties_type: ['Car, Jeep, Motorcycles', 'Telephone, Cellphone', 'Stereo/CD Player', 'Television set', 'VTR/VHS/VCD/DVD', 'Refrigerator/Freezer', 'Dining Set', 'gas Stove', 'game Gadgets', 'Washing Machine', 'Air Conditioning', 'personal Computer/laptop', 'Tablet', 'Jewelries', 'Living room/Sala set', 'Microwave Oven'],
                radio_programs_type: ['Music', 'Drama', 'News', 'Educational Programs', 'Commentaries'],
                cellular_network_type: ['Globe/TM', 'Smart/TNT', 'Sun', 'PLDT', 'bayantel'],
                helping_choice: ['Very Much', 'Much', 'Not So Much', 'Little'],
                availed_services_type: ['Agricultural Inputs', 'Blood Availment Program', 'Conditional Cash transfer', 'Day Care Services/ECCD', 'Financial Assistance', 'Funeral Mortuary', 'Housing/Home Lot', 'Job Placement', 'Scholarship', 'Subsidized Medical Services', 'Subsidized Rice', 'Supplemental Feeding'],
                tenurial_instrument_type: ['Tax Declaration', 'CADC', 'CLT (Certificate of land Title)', 'Stewardship', 'CLOA', 'ISF', 'CADT'],
                farming_practice_type: ['Monocropping', 'Diversified or Intercropping', 'Others', 'SALT'],
                workers_type: ['Father', 'Mother', 'Others', 'Children'],
                waste_practices_type: ['Composting', 'Crop Rotation', 'Mulchin', 'Others', 'Mulching'],
                lgu_davao_occ: ['Don marcelino', 'Malita', 'Santa Maria', 'Saranggani'],
                brgys_in_davao_occ: ['Bito', 'Bolila', 'Buhangin', 'Culaman', 'Datu Danwata', 'Demoloc', 'Felis', 'Fishing Village', 'Kibalatong', 'Kidalapong', 'Kilalag', 'Kinangan', 'Lacaron', 'lagumit', 'lais', 'Little baquio', 'Macol', 'Mana', 'Manuel Peralta', 'New Argao', 'Pangaleon', 'Pangian', 'Pinalpalan', 'Poblacion', 'Sangay', 'Talogoy', 'Tical', 'Ticulon', 'Tingolo', 'Tubalan'],
                govt_aid_received_type: ['NHTS', 'Non-4Ps', '4Ps'],
                tribal_type: ['IP', 'Non IP', 'Muslim'],
                internet_provider_type: ['Globe/TM', 'Smart/TNT', 'Sun', 'Handheld Radio', 'PLDT'],
                family_data: null,
                head_data: null,
                spouse_data: [],
                dependents_data: [],
                education_data: [],
                profession_data: [],
                health_data: null,
                house_data: null,
                family_income_data: null,
                family_expenditures_data: null,
                family_assets_data: null,
                communication_access_data: null,
                psycho_social_data: null,
                farm_data: null,
                farm_labor_data: [],
                mask: '####-##-##'
            }
        },
        methods: {
            family_info: function() {
              this.family_data = [
                {
                  key: 'TRACKING NUMBER',
                  type: 'text',
                  placeholder: 'Tracking Number',
                  model: ''
                },
                {
                  key: 'SERIES NUMBER',
                  type: 'text',
                  placeholder: 'Series Number',
                  model: ''
                },
                {
                  key: 'LGU',
                  type: 'select',
                  label: 'LGU',
                  choices: this.lgu_davao_occ,
                  model: ''
                },
                {
                  key: 'BARANGAY',
                  type: 'select',
                  label: 'Barangay',
                  choices: this.brgys_in_davao_occ,
                  model: ''
                },
                {
                  key: 'ADDRESS',
                  type: 'text',
                  placeholder: 'Address',
                  model: ''
                },
                {
                  key: 'GOVERNMENT AID RECEIVED',
                  type: 'select',
                  label: 'Government Aid Received',
                  choices: this.govt_aid_received_type,
                  model: ''
                },
                {
                  key: 'NUMBER OF FEMALE CHILDREN',
                  type: 'text',
                  placeholder: 'Number of Female Children',
                  model: ''
                },
                {
                  key: 'NUMBER OF MALE CHILDREN',
                  type: 'text',
                  placeholder: 'Number of Male Children',
                  model: ''
                },
                {
                  key: 'TRIBE NAME',
                  type: 'text',
                  placeholder: 'Tribe Name',
                  model: ''
                },
                {
                  key: 'TRIBE TYPE',
                  type: 'select',
                  label: 'Tribe Type',
                  choices: this.tribal_type,
                  model: ''
                },
                {
                  key: 'MAP POINTS',
                  type: 'text',
                  placeholder: 'Map Points',
                  model: ''
                }
              ]
            },
            head_info: function() {
              this.head_data = [
                {
                  key: 'NAME',
                  type: 'text',
                  placeholder: 'Head Name',
                  model: ''
                },
                {
                  key: 'BIRTH DATE',
                  type: 'masks',
                  model: ''
                },
                {
                  key: 'CONTACT NUMBER',
                  type: 'text',
                  model: ''
                },
                {
                  key: 'MOBILE NUMBER',
                  type: 'text',
                  model: ''
                },
                {
                  key: 'GENDER',
                  type: 'select',
                  label: 'Gender',
                  choices: this.gender,
                  model: ''
                },
                {
                  key: 'CIVIL STATUS',
                  type: 'select',
                  label: 'Civil Status',
                  choices: this.civil_status,
                  model: ''
                },
                {
                  key: 'RELIGION',
                  type: 'select',
                  label: 'religion',
                  choices: this.religion,
                  model: ''
                },
                {
                  key: 'BLOOD TYPE',
                  type: 'select',
                  label: 'Blood Type',
                  choices: this.blood_type,
                  model: ''
                }
              ]
            },
            spouse_info: function() {
              this.spouse_data.push(
                {
                  key: 'NAME',
                  type: 'text',
                  placeholder: 'Head Name',
                  model: ''
                },
                {
                  key: 'CONTACT NUMBER',
                  type: 'text',
                  model: ''
                },
                {
                  key: 'BLOOD TYPE',
                  type: 'select',
                  label: 'Blood Type',
                  choices: this.blood_type,
                  model: ''
                },
                {
                  key: 'BIRTH DATE',
                  type: 'masks',
                  model: ''
                },
                {
                  key: 'EDUCATIONAL ATTAINMENT',
                  type: 'select',
                  label: 'Educational Attainment',
                  choices: this.educational_attainment,
                  model: ''
                },
                {
                  key: 'RELIGION',
                  type: 'select',
                  label: 'Religion',
                  choices: this.religion,
                  model: ''
                }
              )
            },
            dependents_info: function() {
              this.dependents_data.push(
                {
                  key: 'NAME',
                  type: 'text',
                  placeholder: 'Head Name',
                  model: ''
                },
                {
                  key: 'BIRTH DATE',
                  type: 'masks',
                  model: ''
                },
                {
                  key: 'GENDER',
                  type: 'select',
                  label: 'Gender',
                  choices: this.gender,
                  model: ''
                },
                {
                  key: 'RELATION',
                  type: 'text',
                  placeholder: 'Relation',
                  model: ''
                }
              ) 
            },
            education_info: function() {
              this.education_data = [
                {
                  key: 'HAS CHILDREN IN ELEMENTARY',
                  type: 'select',
                  label: 'Has Children in Elementary',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'ABLE TO WRITE AND READ',
                  type: 'select',
                  label: 'Able to Write and Read',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'ABLE TO VOTE',
                  type: 'select',
                  label: 'Able to Vote',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'ABLE TO ATTEND BARANGAY ASSEMBLY',
                  type: 'select',
                  label: 'Able To Attend Brgy Assembly',
                  choices: this.yes_or_no,
                  model:''
                },
                {
                  key: 'CHILDREN IN DAYCARE',
                  type: 'text',
                  placeholder: 'Children in Daycare',
                  model: ''
                },
                {
                  key: 'CHILDREN IN KINDER',
                  type: 'text',
                  placeholder: 'Children in Kinder',
                  model: ''
                },
                {
                  key: 'CHILDREN NOT IN ELEMENTARY',
                  type: 'text',
                  placeholder: 'Children Not in Elementary',
                  model: ''
                },
                {
                  key: 'CHILDREN NOT IN JR. HS.',
                  type: 'text',
                  placeholder: 'Children Not in JR. HS.',
                  model: ''
                },
                {
                  key: 'CHILDREN NOT IN SR. HS.',
                  type: 'text',
                  placeholder: 'Children Not in SR. HS.',
                  model: ''
                },
                {
                  key: 'CHILDREN NOT IN COLLEGE',
                  type: 'text',
                  placeholder: 'Children Not in College',
                  model: ''
                },
                {
                  key: 'CHILDREN COLLEGE GRADUATE',
                  type: 'text',
                  placeholder: 'Children College Graduate',
                  model: ''
                },
                {
                  key: 'CHILDREN AT COLLEGE LEVEL',
                  type: 'text',
                  placeholder: 'Children At College Level',
                  model: ''
                },
                {
                  key: 'CHILDREN HIGH SCHOOL GRADUATE',
                  type: 'text',
                  placeholder: 'Children High School Graduate',
                  model: ''
                },
                {
                  key: 'CHILDREN HIGH SCHOOL LEVEL',
                  type: 'text',
                  placeholder: 'Children High School Level',
                  model: ''
                },
                {
                  key: 'CHILDREN ELEMENTARY GRADUATE',
                  type: 'text',
                  placeholder: 'Children Elementary Graduate',
                  model: ''
                },
                {
                  key: 'CHILDREN ELEMENTARY LEVEL',
                  type: 'text',
                  placeholder: 'Children Elementary Level',
                  model: ''
                }
              ]
            },
            profession_info: function() {
              this.profession_data.push(
                {
                  key: 'NAME',
                  type: 'text',
                  placeholder: 'Head Name',
                  model: ''
                },
                {
                  key: 'AGE',
                  type: 'text',
                  placeholder: 'Age',
                  model: ''
                },
                {
                  key: 'TYPE OF SKILL',
                  type: 'text',
                  placeholder: 'Type of Skill',
                  model: ''
                },
                {
                  key: 'SKILLS ACQUIRED THROUGH',
                  type: 'text',
                  placeholder: 'Skill Acquired Through',
                  model: ''
                },
                {
                  key: 'REMARKS',
                  type: 'text',
                  placeholder: 'Remarks',
                  model: ''
                }
              )
            },
            health_info: function() {
              this.health_data = [
                {
                  key: 'NEWBORN(2.5kg)',
                  type: 'select',
                  label: 'Newborn(2.5kg)',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'NO. OF NEWBORN(2.5kg)',
                  type: 'text',
                  placeholder: 'No. of Newborn(2.5kg)',
                  model: ''
                },
                {
                  key: 'NEWBORN (BELOW 2.5kg)',
                  type: 'select',
                  label: 'Newborn(below 2.5kg)',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'NO OF NEWBORN(BELOW 2.5kg)',
                  type: 'text',
                  placeholder: 'No of Newborn(below 2.5kg)',
                  model: ''
                },
                {
                  key: 'HAS CHILDREN IMMUNIZED',
                  type: 'select',
                  label: 'Has Children Immunized',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'AGE LAST IMMUNIZED',
                  type: 'text',
                  placeholder: 'Age Last Immunized',
                  model: ''
                },
                {
                  key: 'HAS MALNOURISHED CHILDREN',
                  type: 'select',
                  label: 'Has Malnourished Children',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'MALNOURISHED NOTES',
                  type: 'text',
                  placeholder: 'Malnourished Notes',
                  model: ''
                },
                {
                  key: 'HAS PREGNANCY SUPPLEMENT',
                  type: 'select',
                  label: 'has pregnancy supplement',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'PREGNANCY SUPPLEMENT',
                  type: 'text',
                  placeholder: 'Pregnancy Supplement',
                  model: ''
                },
                {
                  key: 'HAS PRENATAL SERVICES',
                  type: 'select',
                  label: 'Has Prenatal Services',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'PRENATAL SERVICES',
                  type: 'text',
                  placeholder: 'prenatal Services',
                  model: ''
                },
                {
                  key: 'HAS TRAINED DELIVERY',
                  type: 'select',
                  label: 'Has Trained Delivery',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'DELIVERY NOTES',
                  type: 'text',
                  placeholder: 'Delivery Notes',
                  model: ''
                },
                {
                  key: 'DEATH (BELOW 1 YR OLD)',
                  type: 'select',
                  label: 'Death below 1 yr Old',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'DEATH OCCURENCE NOTES',
                  type: 'text',
                  placeholder: 'Death Occurence Notes',
                  model: ''
                },
                {
                  key: 'SICKNESS (CHILDREN)',
                  type: 'selected',
                  label: 'Sickness Children',
                  choices: this.sickness_type,
                  model: ''
                },
                {
                  key: 'OTHER SICKNESS (CHILDREN)',
                  type: 'text',
                  placeholder: 'Other Sickness Children',
                  model: ''
                },
                {
                  key: 'SICKNESS (ADULTS)',
                  type: 'selected',
                  label: 'Sickness Adult',
                  choices: this.sickness_type,
                  model: ''
                },
                {
                  key: 'OTHER SICKNESS (ADULTS)',
                  type: 'text',
                  placeholder: 'Other Sickness Adults',
                  model: ''
                },
                {
                  key: 'PHILHEALTH MEMBERSHIP',
                  type: 'select',
                  label: 'Philhealth Membership',
                  choices: this.philhealth_type,
                  model: ''
                }
              ]
            },
            house_info: function() {
              this.house_data = [
                {
                  key: 'OWNERSHIP STATUS',
                  type: 'select',
                  label: 'Ownership Status',
                  choices: this.house_type,
                  model: ''
                },
                {
                  key: 'DISTANCE FROM BRGY HALL',
                  type: 'text',
                  placeholder: 'Distance from Brgy Hall',
                  model: ''
                },
                {
                  key: 'GPS LATITUDE',
                  type: 'text',
                  placeholder: 'Gps Latitude',
                  model: ''
                },
                {
                  key: 'GPS LONGITUDE',
                  type: 'text',
                  placeholder: 'Gps Longitude',
                  model: ''
                },
                {
                  key: 'HOME SETTINGS',
                  type: 'select',
                  label: 'Home Settings',
                  choices: this.home_setting,
                  model: ''
                },
                {
                  key: 'FLOOD FREQUENCY',
                  type: 'select',
                  label: 'Flood Frequency',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'EARTHQUAKE FREQUENCY',
                  type: 'select',
                  label: 'Earthquake Frequency',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'LANDSLIDE FREQUENCY',
                  type: 'select',
                  label: 'Landslide Frequency',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'TORNADO FREQUENCY',
                  type: 'select',
                  label: 'Tornado Frequency',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'STORM SURGE',
                  type: 'select',
                  label: 'Storm Surge',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'VEHICULAR ACCIDENT',
                  type: 'select',
                  label: 'Vehicular Accident',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'ARMED CONFLICT',
                  type: 'select',
                  label: 'Armed Conflict',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'DISEASE OUTBREAK',
                  type: 'select',
                  label: 'Disease Outbreak',
                  choices: this.frequency,
                  model: ''
                },
                {
                  key: 'ACCESS ROAD DISTANCE',
                  type: 'text',
                  placeholder: 'Access Road Distance',
                  model: ''
                },
                {
                  key: 'HOME TO FARM DISTANCE',
                  type: 'text',
                  placeholder: 'Home to farm Distance',
                  model: ''
                },
                {
                  key: 'FARM TO ROAD',
                  type: 'text',
                  placeholder: 'Farm to Road',
                  model: ''
                },
                {
                  key: 'BUILDING TYPE',
                  type: 'select',
                  label: 'Building Type',
                  choices: this.bldg_type,
                  model: ''
                },
                {
                  key: 'DRAINAGE',
                  type: 'select',
                  label: 'Drainage',
                  choices: this.drainage_type,
                  model: ''
                },
                {
                  key: 'TOILET',
                  type: 'select',
                  label: 'Toilet',
                  choices: this.toilet_type,
                  model: ''
                },
                {
                  key: 'GARBAGE DISPOSAL',
                  type: 'select',
                  label: 'garbase disposal',
                  choices: this.garbage_disposal_type,
                  model: ''
                },
                {
                  key: 'ROOF MATERIAL',
                  type: 'select',
                  label: 'Roof material',
                  choices: this.roof_walling_material_type,
                  model: ''
                },
                {
                  key: 'WALLING MATERIAL',
                  type: 'select',
                  label: 'Walling material',
                  choices: this.roof_walling_material_type,
                  model: ''
                },
                {
                  key: 'VULNERABILITY AND RISKS',
                  type: 'selected',
                  label: 'Vulnerability and Risks',
                  choices: this.vulnerability_risks_type,
                  model: ''
                },
                {
                  key: 'WATER SOURCE',
                  type: 'selected',
                  label: 'Water Source',
                  choices: this.water_source_type,
                  model: ''
                },
                {
                  key: 'PRODUCT TRANSPORTATIONS',
                  type: 'selected',
                  label: 'Product transportations',
                  choices: this.product_transpo_type,
                  model: ''
                },
                {
                  key: 'BUILDING ELECTRICITY',
                  type: 'selected',
                  label: 'Building Electricity',
                  choices: this.bldg_electricity_type,
                  model:''
                },
                {
                  key: 'ELECTRICITY OTHERS',
                  type: 'text',
                  placeholder: 'Eletricity Others',
                  model: ''
                }
              ]
            },
            family_income_info: function() {
              this.family_income_data = [
                {
                  key: 'FROM FARMING',
                  type: 'text',
                  placeholder: 'From Farming',
                  model: ''
                },
                {
                  key: 'FROM FISHING',
                  type: 'text',
                  placeholder: 'From Fishing',
                  model: ''
                },
                {
                  key: 'FROM GOVERNMENT EMPLOYMEMT',
                  type: 'text',
                  placeholder: 'From Govt Employment',
                  model: ''
                },
                {
                  key: 'FROM PRIVATE EMPLOYMENT',
                  type: 'text',
                  placeholder: 'From Private Employment',
                  model: ''
                },
                {
                  key: 'FROM OFW REMITTANCES',
                  type: 'text',
                  placeholder: 'From OFW Remittances',
                  model: ''
                },
                {
                  key: 'FROM PENSION',
                  type: 'text',
                  placeholder: 'From Pension',
                  model: ''
                },
                {
                  key: 'FROM SUBSIDIES',
                  type: 'text',
                  placeholder: 'From Subsidies',
                  model: ''
                },
                {
                  key: 'FROM SELF EMPLOYMENT',
                  type: 'text',
                  placeholder: 'From Self Employment',
                  model: ''
                },
                {
                  key: 'FROM BUSINESS',
                  type: 'text',
                  placeholder: 'From Business',
                  model: ''
                },
                {
                  key: 'FROM OTHER SOURCES',
                  type: 'text',
                  placeholder: 'From Other Sources',
                  model: ''
                },
                {
                  key: 'OTHER SOURCE OF INCOME',
                  type: 'text',
                  placeholder: 'Other Source of Income',
                  model: ''
                },
                {
                  key: 'GROSS MONTHLY INCOME',
                  type: 'select',
                  label: 'Gross Monthly income',
                  choices: this.gross_monthly_income_type,
                  model: ''
                }
              ]
            },
            family_expenditures_info: function() {
              this.family_expenditures_data = [
                {
                  key: 'FOOD',
                  type: 'text',
                  placeholder: 'Food',
                  model: ''
                },
                {
                  key: 'EDUCATION',
                  type: 'text',
                  placeholder: 'Education',
                  model: ''
                },
                {
                  key: 'MEDICINE',
                  type: 'text',
                  placeholder: 'Medicine',
                  model: ''
                },
                {
                  key: 'POWER BILL',
                  type: 'text',
                  placeholder: 'Power Bill',
                  model: ''
                },
                {
                  key: 'WATER BILL',
                  type: 'text',
                  placeholder: 'Water Bill',
                  model: ''
                },
                {
                  key: 'PHILHEALTH',
                  type: 'text',
                  placeholder: 'Philhealth',
                  model: ''
                },
                {
                  key: 'SSS',
                  type: 'text',
                  placeholder: 'SSS',
                  model: ''
                },
                {
                  key: 'PAG IBIG',
                  type: 'text',
                  placeholder: 'Pag-Ibig',
                  model: ''
                },
                {
                  key: 'GSIS',
                  type: 'text',
                  placeholder: 'GSIS',
                  model: ''
                },
                {
                  key: 'CLOTHING',
                  type: 'text',
                  placeholder: 'Clothing',
                  model: ''
                },
                {
                  key: 'INSURANCE',
                  type: 'text',
                  placeholder: 'Insurance',
                  model: ''
                },
                {
                  key: 'VEHICLE',
                  type: 'text',
                  placeholder: 'Vehicle',
                  model: ''
                },
                {
                  key: 'TAXES',
                  type: 'text',
                  placeholder: 'taxes',
                  model: ''
                },
                {
                  key: 'DEBT REPAYMENT',
                  type: 'text',
                  placeholder: 'Debt Repayment',
                  model: ''
                },
                {
                  key: 'HOUSE RENTAL',
                  type: 'text',
                  placeholder: 'House Rentals',
                  model: ''
                },
                {
                  key: 'HOUSE HELPER',
                  type: 'text',
                  placeholder: 'House Helper',
                  model: ''
                },
                {
                  key: 'VICES',
                  type: 'text',
                  placeholder: 'Vices',
                  model: ''
                },
                {
                  key: 'OTHERS',
                  type: 'text',
                  placeholder: 'Others',
                  model: ''
                },
                {
                  key: 'OTHER EXPENDITURES',
                  type: 'text',
                  placeholder: 'Other Expenditures',
                  model: ''
                }
              ]
            },
            family_assets_info: function() {
              this.family_assets_data = [
                {
                  key: 'MONTHLY BANK SAVINGS',
                  type: 'text',
                  placeholder: 'Monthly Bank Savings',
                  model: ''
                },
                {
                  key: 'MONTHLY COOPERATIVE SAVINGS',
                  type: 'text',
                  placeholder: 'Monthly Cooperative Savings',
                  model: ''
                },
                {
                  key: 'MONTHLY OTHERS SAVINGS',
                  type: 'text',
                  placeholder: 'Monthly Others Savings',
                  model: ''
                },
                {
                  key: 'PERSONAL PROPERTIES',
                  type: 'selected',
                  label: 'Personal Properties',
                  choices: this.personal_properties_type,
                  model: ''
                }
              ]
            },
            communication_access_info: function() {
              this.communication_access_data = [
                {
                  key: 'LOCAL NEWSPAPER',
                  type: 'text',
                  placeholder: 'Local Newspaper',
                  model: ''
                },
                {
                  key: 'NATIONAL NEWSPAPER',
                  type: 'text',
                  placeholder: 'National newspaper',
                  model: ''
                },
                {
                  key: 'OTHER ACCESS',
                  type: 'text',
                  placeholder: 'Other Access',
                  model: ''
                },
                {
                  key: 'ACCESS FREQUENCY',
                  type: 'text',
                  placeholder: 'Access Frequency',
                  model: ''
                },
                {
                  key: 'RADIO PROGRAMS',
                  type: 'selected',
                  label: 'Radio Programs',
                  choices: this.radio_programs_type,
                  model:''
                },
                {
                  key: 'CELLULAR NETWORKS',
                  type: 'selected',
                  label: 'Cellular networks',
                  choices: this.cellular_network_type,
                  model: ''
                },
                {
                  key: 'INTERNET PROVIDERS',
                  type: 'selected',
                  label: 'Internet Providers',
                  choices: this.internet_provider_type,
                  model: ''
                }
              ]
            },
            psycho_social_info: function() {
              this.psycho_social_data = [
                {
                  key: 'VIOLENCE AGAINST WOMEN',
                  type: 'select',
                  label: 'Violence Against Women',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'NUM OF VIOLENCE AGAINST WOMEN',
                  type: 'text',
                  placeholder: 'Num of Violence Against Women',
                  model: ''
                },
                {
                  key: 'VIOLENCE AGAINST CHILDREN',
                  type: 'select',
                  label: 'Violence Against Children',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'NUM OF VIOLENCE AGAINST CHILDREN',
                  type: 'text',
                  placeholder: 'Num of Violence Against Children',
                  model: ''
                },
                {
                  key: 'CONFLICT WITH LAW',
                  type: 'select',
                  label: 'Conflict with Law',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'VICTIMS OF ARMED CONFLICT',
                  type: 'select',
                  label: 'Victims of Armed Conflict',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'PRACTICE FAMILY PLANNING',
                  type: 'select',
                  label: 'Practice family Planning',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'FAMILY PLANNING METHOD',
                  type: 'text',
                  placeholder: 'Family planning Method',
                  model: ''
                },
                {
                  key: 'IS NATIONAL GOV HELPING',
                  type: 'select',
                  label: 'Is National Govt Helping',
                  choices: this.helping_choice,
                  model: ''
                },
                {
                  key: 'IS PROVINCIAL GOV HELPING',
                  type: 'select',
                  label: 'Is Provincial Govt Helping',
                  choices: this.helping_choice,
                  model: ''
                },
                {
                  key: 'IS MUNICIPAL GOV HELPING',
                  type: 'select',
                  label: 'Is Municipal Govt Helping',
                  choices: this.helping_choice,
                  model: ''
                },
                {
                  key: 'IS BARANGAY GOV HELPING',
                  type: 'select',
                  label: 'Is Brgy Govt Helping',
                  choices: this.helping_choice,
                  model: ''
                },
                {
                  key: 'NAME OF RESPONDENT',
                  type: 'text',
                  placeholder: 'Name of Respondent',
                  model: ''
                },
                {
                  key: 'NAME OF ENUMERATOR',
                  type: 'text',
                  placeholder: 'Name of Enumerator',
                  model: ''
                },
                {
                  key: 'AVAILED SERVICES',
                  type: 'selected',
                  label: 'Name of Enumerator',
                  choices: this.availed_services_type,
                  model: ''
                }
              ]
            },
            farm_info: function() {
              this.farm_data = [
                {
                  key: 'TOTAL AREA',
                  type: 'text',
                  placeholder: 'Total Area',
                  model: ''
                },
                {
                  key: 'OTHER AREAS',
                  type: 'text',
                  placeholder: 'Other Areas',
                  model: ''
                },
                {
                  key: 'OWNED',
                  type: 'text',
                  placeholder: 'Owned',
                  model: ''
                },
                {
                  key: 'RENTED',
                  type: 'text',
                  placeholder: 'Rented',
                  model: ''
                },
                {
                  key: 'TENANT',
                  type: 'text',
                  placeholder: 'Tenant',
                  model: ''
                },
                {
                  key: 'MORTGAGED',
                  type: 'text',
                  placeholder: 'Mortgaged',
                  model: ''
                },
                {
                  key: 'MORTGAGED ACQUIRED',
                  type: 'text',
                  placeholder: 'Mortgaged Acquired',
                  model: ''
                },
                {
                  key: 'TENURIAL INSTRUMENT',
                  type: 'select',
                  label: 'Tenurial Instrument',
                  choices: this.tenurial_instrument_type,
                  model: ''
                },
                {
                  key: 'TOTAL LAND AREA',
                  type: 'text',
                  placeholder: 'Total land Area',
                  model: ''
                },
                {
                  key: 'TOTAL LAND AREA OTHER',
                  type: 'text',
                  placeholder: 'Total land Area Others',
                  model: ''
                },
                {
                  key: 'FARMING PRACTICE',
                  type: 'select',
                  label: 'Farming Practice',
                  choices: this.farming_practice_type,
                  model: ''
                },
                {
                  key: 'FARMING PRACTICE OTHERS',
                  type: 'text',
                  placeholder: 'Farming Practice Others',
                  model: ''
                },
                {
                  key: 'WORKERS',
                  type: 'selected',
                  label: 'Workers',
                  choices: this.workers_type,
                  model: ''
                },
                {
                  key: 'OTHER WORKERS',
                  type: 'text',
                  placeholder: 'Others Workers',
                  model: ''
                },
                {
                  key: 'WASTE PRACTICES',
                  type: 'selected',
                  label: 'Waste Practices',
                  choices: this.waste_practices_type,
                  model: ''
                },
                {
                  key: 'OTHER WASTE PRACTICES',
                  type: 'text',
                  placeholder: 'Others Waste Practices',
                  model: ''
                },
                {
                  key: 'PAKYAW OR LABOR',
                  type: 'select',
                  label: 'Pakyaw or labor',
                  choices: this.yes_or_no,
                  model: ''
                },
                {
                  key: 'PAKYAW VALUE',
                  type: 'text',
                  placeholder: 'Pakyaw Value',
                  model: ''
                }
              ]
            },
            farm_labors_info: function() {
              this.farm_labor_data.push(
                {
                  key: 'TYPE',
                  type: 'text',
                  placeholder: 'Type',
                  model: ''
                },
                {
                  key: 'RATE PER HOUR',
                  type: 'text',
                  placeholder: 'Rate per Hour',
                  model: ''
                }
              )
            },
            request: function () {
              let head_array = []
              for(let x = 0; x < this.head_data.length; x++) {
                head_array[x] = this.head_data[x].model
              }
              let spouse_array = []
              for(let x = 0; x < this.spouse_data.length; x++) {
                spouse_array[x] = this.spouse_data[x].model
              }
              let dependents_array = []
              for(let x = 0; x < this.dependents_data.length; x++) {
                dependents_array[x] = this.dependents_data[x].model
              }
              let family_array = []
              for(let x = 0; x < this.family_data.length; x++) {
                family_array[x] = this.family_data[x].model
              }
              let education_array = []
              for(let x = 0; x < this.education_data.length; x++) {
                education_array[x] = this.education_data[x].model
              }
              let profession_array = []
              for(let x = 0; x < this.profession_data.length; x++) {
                profession_array[x] = this.profession_data[x].model
              }
              let health_chips_array = []
              let health_chips1_array = []
              let health_array = []
              for(let x = 0; x < this.health_data.length; x++) {
                if (this.health_data[x].model === this.health_data[16].model) {
                  let cast = ''
                  for (var i = this.health_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.health_data[x].model[i] + ', '
                  }
                  health_chips_array[x] = cast
                } else if (this.health_data[x].model === this.health_data[18].model) {
                  let cast = ''
                  for (var i = this.health_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.health_data[x].model[i] + ', '
                  }
                  health_chips1_array[x] = cast
                } else {
                  health_array[x] = this.health_data[x].model
                }
              }
              let house_chips_array =  []
              let house_chips1_array = []
              let house_chips2_array = []
              let house_chips3_array = []
              let house_array = [] // for objects
              // let house_chip_array = house_chips_array + "" // for array objects
              for(let x = 0; x < this.house_data.length; x++) {
                if (this.house_data[x].model === this.house_data[22].model) {
                  let cast = ''
                  for (var i = this.house_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.house_data[x].model[i] + ', '
                  }
                  house_chips_array[x] = cast
                } else if (this.house_data[x].model === this.house_data[23].model) {
                  let cast = ''
                  for (var i = this.house_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.house_data[x].model[i] + ', '
                  }
                  house_chips1_array[x] = cast
                } else if (this.house_data[x].model === this.house_data[24].model) {
                  let cast = ''
                  for (var i = this.house_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.house_data[x].model[i] + ', '
                  }
                  house_chips2_array[x] = cast
                } else if (this.house_data[x].model === this.house_data[25].model) {
                  let cast = ''
                  for (var i = this.house_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.house_data[x].model[i] + ', '
                  }
                  house_chips3_array[x] = cast
                } else {
                   house_array[x] = this.house_data[x].model
                }
              }
              let family_income_array = []
              for(let x = 0; x < this.family_income_data.length; x++) {
                family_income_array[x] = this.family_income_data[x].model
              }
              let family_expenditures_array = []
              for(let x = 0; x < this.family_expenditures_data.length; x++) {
                family_expenditures_array[x] = this.family_expenditures_data[x].model
              }
              let assets_chips_array = []
              let family_assets_array = []
              for(let x = 0; x < this.family_assets_data.length; x++) {
                if (this.family_assets_data[x].model === this.family_assets_data[3].model) {
                  let cast = ''
                  for (var i = this.family_assets_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.family_assets_data[x].model[i] + ', '
                  }
                  assets_chips_array[x] = cast
                } else {
                  family_assets_array[x] = this.family_assets_data[x].model
                }
              }
              let communication_access_array = []
              let communication_chips_array = []
              let communication_chips1_array = []
              let communication_chips2_array = []
              for(let x = 0; x < this.communication_access_data.length; x++) {
               if (this.communication_access_data[x].model === this.communication_access_data[4].model) {
                  let cast = ''
                  for (var i = this.communication_access_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.communication_access_data[x].model[i] + ', '
                  }
                  communication_chips_array[x] = cast
                } else if (this.communication_access_data[x].model === this.communication_access_data[5].model) {
                  let cast = ''
                  for (var i = this.communication_access_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.communication_access_data[x].model[i] + ', '
                  }
                  communication_chips1_array[x] = cast
                } else if (this.communication_access_data[x].model === this.communication_access_data[6].model) {
                  let cast = ''
                  for (var i = this.communication_access_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.communication_access_data[x].model[i] + ', '
                  }
                  communication_chips2_array[x] = cast
                } else {
                   communication_access_array[x] = this.communication_access_data[x].model
                }
              }
              let psycho_social_array = []
              let psycho_social_chips_array = []
              for(let x = 0; x < this.psycho_social_data.length; x++) {
                if (this.psycho_social_data[x].model === this.psycho_social_data[14].model){
                  let cast = ''
                  for (var i = this.psycho_social_data[x].model.length - 1; i >= 0; i--) {
                    cast = cast + this.psycho_social_data[x].model[i] + ', '
                  }
                  psycho_social_chips_array[x] = cast
                } else {
                  psycho_social_array[x] = this.psycho_social_data[x].model
                }
              }
             let data = {
              head_array,
              spouse_array,
              dependents_array,
              family_array,
              education_array,
              profession_array,
              health_array,
              health_chips_array,
              health_chips1_array,
              house_array,
              house_chips_array,
              house_chips1_array,
              house_chips2_array,
              house_chips3_array,
              family_income_array,
              family_expenditures_array,
              family_assets_array,
              assets_chips_array,
              communication_access_array,
              communication_chips_array,
              communication_chips1_array,
              communication_chips2_array,
              psycho_social_array,
              psycho_social_chips_array
              }
              console.log(data)
              axios.post('./post.php',data)
              .then(function (response){
              alert("Success !!")
              console.log(response)
              }
              )
              .catch(function (error) {
                console.log(error)
              })
            },
            personal_information: function() {
                this.family_info()
                this.head_info()
                this.spouse_info()
                this.dependents_info()
                this.education_info()
                this.profession_info()
                this.health_info()
                this.house_info()
                this.family_income_info()
                this.family_expenditures_info()
                this.family_assets_info()
                this.communication_access_info()
                this.psycho_social_info()
                this.farm_info()
                this.farm_labors_info()
            }
        },
        created () {
            this.personal_information()
        }
    })
</script>
</body>
</html>